
.bodycontainerdrinks{   
  display: grid;
  height: 800px;
  gap: 8px;
  grid-auto-flow: column;
  place-items: center;
  background-image: url('images/bg.png');
  background-size: cover;
  background-position: center;
  
}