.containerhome {
    background-image: url('images/Photo-by-Tamara-Mekler.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #0c0c0c;
    border: 2px solid black;
  }

  .logo{
    position: absolute;
    margin-top: 220px;
    width: 250px;

  }
.text-box {
    background-color: white;
    opacity: 90%;
    border: 4px solid rgb(241, 79, 0);
    border-radius: 30px;
    padding: 2px;
    width: 600px;
    margin-top: 400px;
    margin-bottom: 100px;
  }
  
  .text-box__heading {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
  }
  
  .text-box__open {
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 15px;
    
  }
  
  .text-box__lunch{
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 15px;
  
  }
  .long-space {
    display: inline-block;
    width: 150px;
  }