.cover-propile {
    background-image: url('images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heading-propile{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:left;
  margin-top: -18%;
  color: orangered;
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  margin-left: -40%;
  }

  .text-box-propile1{
    background-color: rgb(238, 242, 243);
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    margin-left: -70%;
    margin-right: 120%;
    margin-top: 20%;
  }

  .text-box-order-history{
    background-color: rgb(238, 242, 243);
    padding: 20px;
    width: 150%;
    border-radius: 8px;
    margin-right: -90%;
    margin-left: 20%;
    margin-bottom: 40%;
    
  }

  .heading-order{
    text-align: center;
  }
  
  .order-table{
    border: 1px solid rgb(22, 12, 12);
    border-collapse: collapse;
    width:100%;
    background-color: #96D4D4;
  }

  .row1{
    border: 2px solid rgb(22, 12, 12)
  }